<div class="content">
    <div class="user-login">
        <label for="login_username">用户名：</label>
     
        <label for="login_loginpass">密&#160;&#160;&#160;码：</label>
        
        <label for="login_save"><input type="checkbox" value="2" name="login_save" id="login_save"/>记住我的登录状态</label>

        
    </div>
</div>
